<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
    <h1>这里是index /view /index/index.html</h1>
    <!--eq equal-->
    {eq name="a" value="10"}
        <p>true</p>
    {else/}
        <p>false</p>
    {/eq}

    {equal name="a" value="$b"}
    <p>true</p>
    {else/}
    <p>false</p>
    {/equal}

    <!--neq notequal-->
    {neq name="a" value="10"}
    <p>false</p>
    {else/}
        <p> not equal</p>
    {/neq}

    <!--gt 大于-->
    {gt name="a" value="8"}
        <p>大于</p>
    {else/}
        <p>不大于</p>
    {/gt}

    <!--lt 小于-->
    <!--egt 大于等于-->
    <!--elt 小于等于-->
</body>
</html>