<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
    <h1>这里是index /view /index/index.html</h1>
    <!--switch-->
    {switch name="Think.get.level"}
    {/*get method: level=1*/}
        {case value="1" }<p>nornal</p>{/case}
        {case value="2"} <p>银牌会员</p>{/case}
        {default/}游客
    {/switch}

    {range name="Think.get.level" value="1,2,3" type="between"}
    {/* type
            in
            notin
            between value="1,10" type="between"
    */}

    <p>当前level是1，2，3 中的一个</p>
    {else/}
    <p>当前level不是1，2，3 中的一个</p>
    {/range}

    {in name="Think.get.level" value="1,2,3"}
        {/*等于上面range的 type="in"*/}
    {/in}

    {notin name="Think.get.level" value="1,2,3"}
    {/* range 的 一个快捷方式 */}
    {/notin}

    {between name="Think.get.level" value="1,13"}
    {/between}

    {notbetween name="Think.get.level" value="1,13"}
    {/notbetween}

    {defined name="APP_PATH"}
    <p>app path defined</p>
    {else/}
    <p>app path not defined</p>
    {/defined}

    {if condition="($Think.get.level == 1) OR ($Think.get.level == 2)"}
    {/*
    condition="($Think.get.level == 1)"
    condition="($Think.get.level == 1) OR ($Think.get.level == 2)"
    condition="($Think.get.level == 1) AND ($Think.get.level == 2)"
    */}
    <p>当前的值为1 或3</p>
    {else/}
    <p>当前的值不为1</p>
    {/if}
</body>
</html>